.job-card {
  padding: 20px;
  background-color: black;
  margin: 20px 0 20px;
}

.btn-group {
  display: flex;
  gap: 12px;
}

.group-item {
  display: flex;
  gap: 12px;
}

input {
  height: 28px;
}

.checkbox {
  width: auto;
  margin: 0;
}

.delete-input {
  display: flex;
  align-items: center;
  gap: 5px;
  height: auto;
  margin: 0 0 10px;

  h2 {
    margin: 0;
  }
}
