.job-card {
  padding: 20px;
  background-color: black;
  margin: 20px 0 20px;
}

.btn-group {
  display: flex;
  gap: 12px;
}

.group-item {
  display: flex;
  gap: 12px;
}

input {
  height: 28px;
}
