nav {
  display: flex;
  align-items: center;
  gap: 20px;
  background: black;
  padding: 20px;
  margin: 0 0 10px;
}

a {
  color: white;
  text-decoration: none;
}

.active {
  color: yellow;
}

.logout-btn {
  color: red;
  min-width: auto;
  background: unset;
  height: auto;
  border: unset;
}
