<nav>
  <a
    routerLink=""
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >Home</a
  >
  <a
    routerLink="/jobs"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: true }"
    >jobs</a
  >

  <ng-template #loggedOut>
    <a
      routerLink="/auth/login"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >login</a
    >
    <a
      routerLink="/auth/register"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >register</a
    >
  </ng-template>

  <ng-container *ngIf="currentUser$ | async; else loggedOut">
    <a
      *ngIf="userRole === 'candidate'"
      routerLink="/jobs/applied-jobs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Applied Jobs</a
    >
    <a
      routerLink="/jobs/saved-jobs"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Saved Jobs</a
    >
    <a
      *ngIf="userRole === 'recruiter'"
      routerLink="/jobs/applicants"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >Applicants</a
    >
    <a
      routerLink="/profile"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{ exact: true }"
      >profile</a
    >
    <button class="logout-btn" (click)="logout()">Logout</button>
  </ng-container>
</nav>
